@font-face {
    font-family: rejoy2;
    src: url(./Media/Rejouice-Headline.ttf);
}
@font-face {
    font-family: rejoy1;
    src: url(./Media/NBInternationalProBoo.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "rejouice headline";
}
html, body{
    height: 100%;
    width: 100%;
    background-color: #FAF8F3;
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #000000;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap:10px;
}
#loader h3{
    font-size: 2vw;
}
#page1{
    height: 100vh;
    width: 100%;
}
#page1 video{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#page1-content{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 3vw;
}
nav h3{
    font-size: 1.4vw;
    font-weight: 100;
}
#cursor{
    height: 7vw;
    width: 7vw;
    background-color: #FF6619;
    position: fixed;
    z-index: 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
#cursor h5{
    font-size: 1.15vw;
    font-weight: 500;
}
nav h4{
    font-weight: 100;
    font-size: 1.4vw;
}
nav h3{
    font-weight: 100;
    font-size: 1.4vw;
}

#page1-content h1{
    font-family: rejoy2;
    font-size: 27vw;
    font-weight: 100;
    line-height: 27vw;
}
#page1-content h1 span{
    display: inline-block;
}
#page2{
    height: 80vh;
    width: 100%;
    background-color: #FAF8F3;
}
#page2_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6vw;
    margin-left: 3vw;
    margin-right: 3vw;
    padding-bottom: 1vw;
    overflow: hidden;
}
#line{
    margin: 0 3vw;
    overflow: hidden;
}
#page2 #line hr{
    transform: translateX(-100%);
}
#page2_head p{
    font-size: 2vw;
    font-weight: 200;
}
#page2-content{
    margin: 1vw 2vw;
}
#p2_contain{
    overflow: hidden;
    height: 5vw;
}
#page2-content #page2-p1{
    font-size: 4.3vw;
    font-family: rejoy1;
    text-align: right;
    font-weight: 200;
}
#page2-content #page2-p2{
    font-size: 4.3vw;
    font-family: rejoy1;
    line-height: 4vw;
    font-weight: 200;
}
#page3{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#containtop p{
    font-size: 1.5vw;
    opacity: 0.7;
    position: relative;
}
#containtop p span{
    font-size: .9vw;
    padding: 3px;
    position: absolute;
    right: -50px;
    border-radius: 40px;
    margin-bottom: 40px;
    color: #fff;
    background-color: black;
}
#contain p{
    font-size: 4vw;
    color: black;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: .9;
    border-bottom: 3px solid black;
}
#contain hr{
    color: black;
    background-color:#FAF8F3;
    border: none;
    height: 10px;
    width: 0px;
}
#page4{
    height: 100vh;
    width: 100%;
}
#page4_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6vw;
    margin-left: 3vw;
    margin-right: 3vw;
    padding-bottom: 1vw;
    overflow: hidden;
}
#page4_head p{
    font-size: 2vw;
    font-weight: 200;
}
#page4_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 5vw;
}
#page4_content #box{
    height: 100%;
    width: 32%;
    position: relative;
}
#page4_content #box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#page4_content #box img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.6s;
}

#page4_content #box:hover img{
    opacity: 0;
}
#page5{
    height: 80vh;
    width: 100%;
    /* background-color: aqua; */
}

#page5_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6vw;
    margin-left: 3vw;
    margin-right: 3vw;
    padding-bottom: 1vw;
    overflow: hidden;
}
#line{
    margin: 0 3vw;
    overflow: hidden;
}
#page5 #line hr{
    transform: translateX(-100%);
}
#page5_head p{
    font-size: 2vw;
    font-weight: 200;
}
#page5-content{
    margin: 1vw 2vw;
}
#p5_contain{
    overflow: hidden;
    height: 5vw;
}
#page5-content #page5-p1{
    font-size: 4vw;
    margin-right: 100px;
    font-family: rejoy1;
    text-align: right;
    font-weight: 500;
}
#page5-content #page5-p5{
    font-size: 4vw;
    margin-left: 60px;
    font-family: rejoy1;
    line-height: 4vw;
    font-weight: 200;
}
#page6{
    height: 70vw;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    /* background-color: #FF6619 */
}
#page6 video{
    height: 100%;
}
#page6 svg{
    position: absolute;
    height: 60%;
    /* background-color: #faf8f38f; */
}

#cursor6{
    height: 7vw;
    width: 7vw;
    background-color: #252525;
    position: fixed;
    z-index: 3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
#cursor6 h5{
    color: #FAF8F3;
    font-size: 1.15vw;
    font-weight: 500;
}

#page7{
    height: 80vh;
    width: 100%;
    /* background-color: aqua; */
}

#page7_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6vw;
    margin-left: 3vw;
    margin-right: 3vw;
    padding-bottom: 1vw;
    overflow: hidden;
}
#line{
    margin: 0 3vw;
    overflow: hidden;
}
#page7 #line hr{
    transform: translateX(-100%);
}
#page7_head p{
    font-size: 2vw;
    font-weight: 200;
}
#page7-content{
    margin: 1vw 2vw;
}
#p7_contain{
    overflow: hidden;
    height: 5vw;
}
#page7-content #page7-p1{
    font-size: 4vw;
    margin-right: 100px;
    font-family: rejoy1;
    text-align: right;
    font-weight: 500;
}
#page7-content #page7-p7{
    font-size: 4vw;
    margin-left: 60px;
    font-family: rejoy1;
    line-height: 4vw;
    font-weight: 200;
}
#page8{
    height: 100vh;
    width: 100%;
    padding: 4vw 0;
    position: relative;
}
#page8 h1{
    font-size: 10vw;
    font-family: rejoy2;
    font-weight: 100;
    border-bottom: 1px solid #000000;
    width: 95%;
    margin-left: 2%;
}
#swiperdiv{ 
    height: 60vh;
    width: 100%;
    position: relative;
    margin-top: -2%;
}
.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      width: 400px;
      text-align: center;
      font-size: 18px;
      /* background: #d55252; */
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
    }

    .swiper-slide img {
      /* display: block; */
      width: 20%;
      gap: 50px;
      object-fit: cover;
    }

#page9{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#page9 #containtop p{
    font-size: 1.5vw;
    opacity: 0.7;
    position: relative;
}
#page9 #containtop p span{
    font-size: .9vw;
    padding: 3px;
    position: absolute;
    right: -50px;
    border-radius: 40px;
    margin-bottom: 40px;
    color: #fff;
    background-color: black;
}
#page9 #contain p{
    font-size: 4vw;
    color: black;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: .9;
    border-bottom: 3px solid black;
}
#page9 #contain hr{
    color: black;
    background-color:#FAF8F3;
    border: none;
    height: 10px;
    width: 0px;
}
#page10{
    background-color: #000000;
    overflow: hidden;
    z-index: -3;
    height: 70vh;
    padding: 2%;
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: space-between;
    flex-direction: row;
}
#page10 p{
    color: #C3C0B9;
}
#page10 #part1{
    width: 900px;
    opacity: 1;
}
#page10 #part1 #heading{
    font-size: 30px;
}
#page10 #part1 button{
    width: 180px;
    padding: 10px;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    color: #C3C0B9;    
    margin-top: 30px;
    border: 1px solid #C3C0B9;
    background-color: #000000;
    margin-bottom: 180px;
    /* transition: all ease-in-out 0.7s; */
}
#page10 #part1 button:hover{
    background-color: #C3C0B9;
    color: #000000;    
    transition: all ease-in-out 0.5s;
}
#page10 #part2 p{
    border-bottom: 1px solid #000000;
    transition: all ease-in-out 1s;
    cursor: pointer;
}
#page10 #part2 p:hover{
    border-bottom: 1px solid #C3C0B9;
    /* transition: all ease-in-out 1s; */
}
#page10 #part3 p{
    border-bottom: 1px solid #000000;
    transition: all ease-in-out 1s;
    cursor: pointer;
}
#page10 #part3 p:hover{
    border-bottom: 1px solid #C3C0B9;
    /* transition: all ease-in-out 1s; */
}

#page10 #bottom2{
    margin-top: 200px;
}
#page10 #bottom3{
    margin-top: 240px;
}
#page10_1{
    overflow: hidden;
}